#
# Get more information on https://github.com/thorstenkramm/oma
#

[main]
# Base directory to store backups, logs and meta data. Mandatory.
# Directory must exist.
backup_dir = "/tmp/mysql_backup"

# How many versions to keep. Optional.
# Older versions will be removed.
# Default: 1
#versions = 4

# Whether to delete old version before or after the current backup
# Default: false (delete old backups after the current backup)
# Requires: skip_unchanged_dbs = false
#delete_before = true

# Skip unchanged databases. Instead of dumping a database that
# had no changes since the last backup, a copy of that dump is
# moved to the current directory and a link is placed in
# directories of previous backups.
# Database changes are detected by the modification date of the
# table files in the mysql data dir.
# Default: false, requires: delete_before = false
#skip_unchanged_dbs = true

# When the previous backup is re-used and a link in directories to current
# backup is placed, what kind of link should it be?
# Allowed values: 'symbolic' or 'hard'
# Default: "hard"
#link_type = "symbolic"

# How many mysqldump processes to run in parallel. Optional.
# Negative values are subtracted from total CPUs.
# -2 on 10 CPUs means a parallelism of 8.
# If a negative value would lead to parallelism of 0 or less, 1 is used.
# Default: number of CPUs
#parallelism = 1

# Path to mysqldump executable.
# If not given, it's expected in the default path.
#mysqldump_bin = "/usr/local/bin/mysqldump"

# Path to mysql executable.
# If not given, it's expected in the default path.
#mysql_bin = "/usr/local/bin/mysql"

# List of databases to exclude from backup.
# 'information_schema', 'sys', 'performance_schema' are always excluded
# Mutually exclusive with 'do_databases'.
#exclude_databases = ['example1','example2']

# List of databases to backup.
# Instead of backing up all databases, backup only the below list.
# Mutually exclusive with 'exclude_databases'.
#do_databases = ['example3','example4']

# List of command line arguments appended to mysqldump processes. Optional.
# Default: [] (No extra arguments)
#mysqldump_options = ['--single-transaction','--quick']

# Log level, one of debug,info,warning,error. Optional.
# Default: info
#log_level = "debug"

[conditions]
# List of commands executed with /bin/sh before the backup starts.
# If any of the commands defined in the skip_conditions list exits with exit code 0,
# the backup is skipped but considered successful. On first exit code 0, the rest of the commands are skipped.
# This is useful for intentionally skipping backups without logging an error.
#skip_conditions = ['ifconfig|grep -q 192.168.178.1']

# Timeout (seconds) after which skip_conditions are aborted.
# If timeout is reached, the test is considered failed and the backup is run.
# The timeout applies to each command individually.
# Default: 0 (no limits)
#skip_conditions_timeout = 240

# List of commands executed with /bin/sh before the backup starts.
# Only if all commands defined in the run_conditions list exit with exit code 0,
# the backup will be run. If one of the command fails, backup is skipped and considered
# faulty. On first exit code > 0, the rest of the commands are skipped.
# This is useful to abort backups if crucial conditions are not met.
#run_conditions = ['mount|grep -q /var/backups']

# Timeout (seconds) after which run_conditions are aborted.
# If timeout is reached, the test is considered failed and the backup is aborted with an error.
# The timeout applies to each command individually.
# Default: 0 (no limits)
#run_conditions_timeout = 240

# List of commands executed with /bin/sh after the backup has ended.
# If any of the commands defined in the terminate_conditions list exits with exit code > 0,
# an error is logged and the backup is considered faulty.
# This is useful e.g. for copying backups to a remote storage.
# On first exit code > 0, the rest of the commands are skipped.
# The environment variable $OMA_CURRENT_DIR is filled with the full path to the current backup directory
# without a trailing slash.
#terminate_conditions = ['rsync -a $OMA_CURRENT_DIR user@host:/var/backups/']

# Timeout (seconds) after which terminate_conditions are aborted.
# If timeout is reached, the command is considered failed and an error is logged.
# The timeout applies to each command individually.
# Default: 0 (no limits)
#terminate_conditions_timeout = 240

[zabbix]
# Zabbix Sender Item Key. Optional.
# Send current log file after the backup to zabbix using the given item key
# Default: "" (not set, Log is not sent to Zabbix)
#item_key = "oma.log"

# Path to zabbix_sender executable.
# If not given, it's expected in the default path.
#sender_bin = "/usr/local/bin/zabbix_sender"

# Path to zabbix_agentd.conf used for zabbix_sender. Optional
# Default: /etc/zabbix/zabbix_agentd.conf
#agent_conf = ""