#
# Get more information on https://github.com/thorstenkramm/oma
#

[main]
# Base directory to store backups, logs and meta data. Mandatory.
# Directory must exist.
backup_dir = "/tmp/smart-mysqldump"

# How many versions to keep. Optional.
# Older version will be removed.
# Default: 1
versions = 4

# Whether to delete old version before or after the current backup
# Default: false (delete old backups after the current backup)
# Requires: skip_unchanged_dbs = false
#delete_before = true

# Skip unchanged databases. Instead of dumping a database that
# had no changes since the last backup, a copy of that dump is
# moved to the current directory and a symbolic link is placed in
# directories of previous backups.
# database changes are detected by the modification date of the
# table files in the mysql data dir.
# Default: false, requires: delete_before = false
#skip_unchanged_dbs = true

# How many mysqldump processes to run in parallel. Optional.
# Negative values are subtracted from total CPUs.
# -2 on 10 CPUs means a  parallelism of 8.
# If a negative value would lead to parallelism of 0 or less, 1 is used.
# Default: number of CPUs
parallelism = 1

# Path to mysqldump executable. Optional.
# Optional. If not given, it's expected in the default path.
#mysqldump_bin = "/usr/local/bin/mysqldump"

# Path to mysql executable. Optional.
# Optional. If not given, it's expected in the default path.
#mysql_bin = "/usr/local/bin/mysql"

# List of databases to exclude from backup.
# 'information_schema', 'sys', 'performance_schema' are always excluded from backup
#exclude_databases = ['example1','example2]

# List of command line arguments appended to mysqldump processes. Optional.
# Default: [] (No extra arguments)
#mysqldump_options = ['--single-transaction','--quick']

# Log level, one of debug,info,warning,error. Optional.
# Default: info
#log_level = "debug"

[zabbix]
# Zabbix Sender Item Key. Optional.
# Send current log file after the backup to zabbix using the given item key
# Default: "" (not set, Log is not sent to Zabbix)
#item_key = "mysqldump.log"

# Path to zabbix_sender executable. Optional.
# Optional. If not given, it's expected in the default path.
#sender_bin = "."

# Path to zabbix_agentd.conf used for zabbix_sender. Optional
# Default: /etc/zabbix/zabbix_agentd.conf
#agent_conf = ""